{%- if card_product and card_product != empty -%}
{%- liquid
assign ratio = 1
assign show_secondary_image = true
if card_product.featured_media and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
elsif card_product.featured_media and media_aspect_ratio == 'adapt'
    assign ratio = card_product.featured_media.aspect_ratio
endif
if ratio == 0 or ratio == null
    assign ratio = 1
endif

-%}
<a href="{{ card_product.url }}" class="product-category">
            {%- assign image = card_product.featured_media -%}     
            {% if image != blank %}
                {{ image 
                    | image_url: width: image.width
                    | image_tag: 
                        width: image.width,
                        height: 'auto',
                        alt: image.alt,
                        fetchpriority: 'auto',
                        loading: 'lazy'
                }}
            {% endif %}
            {%- if card_product.media[2] != null and show_secondary_image -%}
                {%- assign image_hover = card_product.media[2] -%}     
                {% if image_hover != blank %}
                    {{ image_hover 
                        | image_url: width: image_hover.width
                        | image_tag: 
                            width: image_hover.width,
                            height: 'auto',
                            alt: image_hover.alt,
                            fetchpriority: 'auto',
                            loading: 'lazy',
                            class: 'hover-img'
                    }}
                {% endif %}
            {% endif %}
            {% comment %} <img
        srcset="
            {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
        "
        src="{{ card_product.featured_media | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ card_product.featured_media.alt | escape }}"
        class="motion-reduce"
        {% unless lazy_load == false %}
            loading="lazy"
        {% endunless %}
        width="{{ card_product.featured_media.width }}"
        height="{{ card_product.featured_media.height }}"
        >
        {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

        {%- if card_product.media[2] != null and show_secondary_image -%}
        <img
            srcset="
            {%- if card_product.media[2].width >= 165 -%}{{ card_product.media[2] | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if card_product.media[2].width >= 360 -%}{{ card_product.media[2] | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if card_product.media[2].width >= 533 -%}{{ card_product.media[2] | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if card_product.media[2].width >= 720 -%}{{ card_product.media[2] | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if card_product.media[2].width >= 940 -%}{{ card_product.media[2] | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if card_product.media[2].width >= 1066 -%}{{ card_product.media[2] | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ card_product.media[2] | image_url }} {{ card_product.media[2].width }}w
            "
            src="{{ card_product.media[2] | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ card_product.media[2].alt | escape }}"
            class="hover-img"
            loading="lazy"
            width="{{ card_product.media[2].width }}"
            height="{{ card_product.media[2].height }}"
        >
        {%- endif -%} {% endcomment %}


    {% comment %} <picture>
        <source srcset="img/product-img-1.webp" type="image/webp">
        <source srcset="img/product-img-1.png" type="image/png">
        <img width="380" height="240" src="#" alt="" loading="lazy">
    </picture>
    <picture>
        <source srcset="img/product-img-hover-1.webp" type="image/webp">
        <source srcset="img/product-img-hover-1.png" type="image/png">
        <img class="hover-img" width="380" height="240" src="#" alt="" loading="lazy">
    </picture> {% endcomment %}
    <div class="product-info">
        <div class="block-blurs">
            <div class="block-blur"></div>
            <div class="block-blur"></div>
            <div class="block-blur"></div>
            <div class="block-blur"></div>
            <div class="block-blur"></div>
        </div>
        <div class="title h3 font-1">{{ card_product.title | escape }}</div>
        <div class="text">{{ block.settings.description | escape }}</div>
        <div class="btn btn-primary">
            <b>{{ 'products.product.shop_now' | t }}</b>
        </div>
    </div>
</a>
{%- endif -%}