<div class="section sec-black padd-lg">
    <div class="container">
        <div class="title-shortcode row-align mob-left">
            <div class="left-part">
                {%- if section.settings.subtitle != blank -%}
                <div class="motto">{{ section.settings.subtitle }}</div>
                {% endif %}
                {%- if section.settings.title != blank -%}
                <div class="h2 title">{{ section.settings.title }}</div>
                {% endif %}
            </div>
            <div class="right-part">
                {%- if section.settings.description != blank -%}
                <div class="text">{{ section.settings.description }}</div>
                {% endif %}
            </div>
        </div>
        {% if section.blocks != blank %}
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-xl-6">
                <div class="swiper-entry advisor-slider">
                    <div class="swiper-container overflow-visible" data-options='{ 
                        "slidesPerView": 1,
                        "spaceBetween": 12,
                        "breakpoints":{
                            "576":{"spaceBetween": 16, "slidesPerView": 1},
                            "992":{"spaceBetween": 24, "slidesPerView": 1},
                            "1200":{"spaceBetween": 48, "slidesPerView": 1}
                        }}'>
                        <div class="swiper-wrapper">
                            {% for block in section.blocks %}
                                {%- assign image = block.settings.slide_image -%}
                                {%- assign heading = block.settings.slide_heading -%}
                                {%- assign desc = block.settings.slide_desc -%}
                                {%- assign tag = block.settings.slide_tag -%}
                            <div class="swiper-slide">
                                <div class="advisor-item">
                                    <div class="advisor-img">
                                        {% if image != blank %}
                                            {{ image 
                                                | image_url: width: image.width
                                                | image_tag: 
                                                    width: image.width,
                                                    height: 'auto',
                                                    alt: image.alt,
                                                    fetchpriority: 'auto',
                                                    loading: 'lazy'
                                            }}
                                        {% endif %}
                                    </div>
                                    <div class="advisor-info">
                                        {% if desc != blank %} 
                                        <div class="title h5">{{ desc }}</div>
                                        {% endif %}
                                        <div class="info-bottom">
                                            {% if heading != blank %} 
                                            <div class="text"><b>“{{ heading }}”</b></div>
                                            {% endif %}
                                            {% if tag != blank %} 
                                            <div class="text text-sm">{{ tag }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-controls-wrap text-center">
                        <div class="swiper-button-prev style4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19 12L5 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 19L5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="swiper-button-next style4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-relative hide"></div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "Advisor",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
    },
    {
        "type": "text",
        "id": "description",
        "label": "Description"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },
        {
        "type": "inline_richtext",
        "id": "slide_desc",
        "label": "Description"
        },
        {
          "type": "text",
          "id": "slide_heading",
          "label": "Title",
        },
        {
          "type": "text",
          "id": "slide_tag",
          "label": "Position",
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Advisor",
      "blocks": []
    }
  ]
}
{% endschema %}