
{% if section.settings.section_type == 'type_1' %}
<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <div class="title-shortcode text-center mb-64">
                    {% if section.settings.subtitle != blank %}
                    <div class="motto">{{ section.settings.subtitle }}</div>
                    {% endif %}
                    {% if section.settings.title != blank %}
                    <h1 class="h1 title">{{ section.settings.title }}</h1>
                    {% endif %}
                    {% if section.settings.description != blank %}
                    <div class="text">{{ section.settings.description }}</div>
                    {% endif %}
                    <div class="button-wrapp gap-16">
                        {% if section.settings.link_text != blank and section.settings.link_url != blank %}
                        <a href="{{ section.settings.link_url }}" class="btn">
                            <b>{{ section.settings.link_text }}</b>
                            {%- assign svg_icon_url = 'icons_global.svg' | asset_url -%}
                            {%- assign url_no_version = svg_icon_url | split: '?' | first -%}
                            {%- assign final_svg_url = url_no_version | append: '#btn-arrow' -%}
                            <svg width="12" height="12"><use href="{{ final_svg_url }}"></use></svg>
                        </a>
                        {% endif %}
                        {% if section.settings.link_text2 != blank and section.settings.link_url2 != blank %}
                        <a href="{{ section.settings.link_url2 }}" class="btn btn-third">
                            <b>{{ section.settings.link_text2 }}</b>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% elsif section.settings.section_type == 'type_2' %}
<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <div class="title-shortcode text-center mb-32 mt-64">
                    {% if section.settings.description != blank %}
                    <div class="text">{{ section.settings.description }}</div>
                    {% endif %}
                    {% if section.settings.subtitle != blank %}
                    <div class="motto mt-32">{{ section.settings.subtitle }}</div>
                    {% endif %}
                    {% if section.settings.title != blank %}
                    <h4 class="h4 title">{{ section.settings.title }}</h4>
                    {% endif %}
                    <div class="button-wrapp gap-16">
                        {% if section.settings.link_text != blank and section.settings.link_url != blank %}
                        <a href="{{ section.settings.link_url }}" class="btn">
                            <b>{{ section.settings.link_text }}</b>
                            {%- assign svg_icon_url = 'icons_global.svg' | asset_url -%}
                            {%- assign url_no_version = svg_icon_url | split: '?' | first -%}
                            {%- assign final_svg_url = url_no_version | append: '#btn-arrow' -%}
                            <svg width="12" height="12"><use href="{{ final_svg_url }}"></use></svg>
                        </a>
                        {% endif %}
                        {% if section.settings.link_text2 != blank and section.settings.link_url2 != blank %}
                        <a href="{{ section.settings.link_url2 }}" class="btn btn-third">
                            <b>{{ section.settings.link_text2 }}</b>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Banner text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_type",
      "options": [
        {
          "value": "type_1",
          "label": "Type 1"
        },
        {
          "value": "type_2",
          "label": "Type 2"
        },
      ],
      "default": "type_1",
      "label": "Section type"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    },
    {
    "type": "header",
    "content": "First button"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "text",
      "id": "link_url",
      "label": "Link url"
    },
    {
    "type": "header",
    "content": "Second button"
    },
    {
      "type": "text",
      "id": "link_text2",
      "label": "Link text"
    },
    {
      "type": "text",
      "id": "link_url2",
      "label": "Link url"
    },
  ],
  "presets": [
    {
      "name": "Banner text",
      "blocks": []
    }
  ]
}
{% endschema %}