<div class="section padd-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-6">
                <div class="title-shortcode text-center">
                    {% if section.settings.subtitle != blank %}
                    <div class="motto">{{ section.settings.subtitle }}</div>
                    {% endif %}
                    {% if section.settings.title != blank %}
                    <div class="h2 title">{{ section.settings.title }}</div>
                    {% endif %}
                    {% if section.settings.desc != blank %}
                    <div class="text text-md">{{ section.settings.desc }}</div>
                    {% endif %}
                </div>

                {% form 'contact', class: 'form-block white' %}

                    {% if form.posted_successfully? %}
                        <p class="form-success">Thank you for contacting us! We will be in touch soon.</p>
                    {% endif %}

                    {% if form.errors %}
                        <div class="form-error">
                        {{ form.errors | default_errors }}
                        </div>
                    {% endif %}

                    <div class="form-expert-block">
                        <div class="content">
                        <div class="text text-md"><b>Let's schedule your sleep consultation in 60 seconds</b></div>
                        <div class="text text-sm">I'll call you back to schedule your free in-home SEVEN SUNDAYS experience with a certified sleep consultant.</div>
                        </div>
                        <img width="64" height="64" src="img/expert-photo-4.webp" alt="" loading="lazy">
                    </div>
                    <div class="row">
                        <div class="col-12">
                        <label class="input-field">
                            <div class="label">Name</div>
                            <input name="contact[name]" class="input" type="text" placeholder="Your full name" required>
                            <div class="input-error">Please fill in this field</div>
                        </label>
                        </div>
                        <div class="col-12">
                        <label class="input-field">
                            <div class="label">email</div>
                            <input name="contact[email]" class="input" type="email" placeholder="We’ll send confirmation here" required>
                            <div class="input-error">Please fill in this field</div>
                        </label>
                        </div>
                        <div class="col-12">
                        <label class="input-field">
                            <div class="label">Phone</div>
                            <input name="contact[phone]" class="input" type="tel" placeholder="We’ll call you here" required>
                            <div class="input-error">Please fill in this field</div>
                        </label>
                        </div>
                        <div class="col-12">
                        <label class="input-field">
                            <div class="label">City / Location</div>
                            <input name="contact[city]" class="input" type="text" placeholder="Where the consultation will take place" required>
                            <div class="input-error">Please fill in this field</div>
                        </label>
                        </div>
                    </div>
                    <div class="ch-box-wrap">
                        <label class="ch-box">
                        <input name="contact[terms_agreed]" type="checkbox" required>
                        <span>By sending this form, I agree to the <a href="privacy.php">Terms of Service</a> and <a href="privacy.php">Privacy Policy</a>.</span>
                        </label>
                    </div>

                    <button type="submit" class="btn btn-secondary open-popup" data-rel="1">
                        <b>{{ 'general.form.submit_form' | t }}</b>
                        {%- assign svg_icon_url = 'icons_global.svg' | asset_url -%}
                        {%- assign url_no_version = svg_icon_url | split: '?' | first -%}
                        {%- assign final_svg_url = url_no_version | append: '#btn-arrow' -%}
                        <svg width="12" height="12"><use href="{{ final_svg_url }}"></use></svg>
                    </button>

                {% endform %}


                {% if section.blocks != blank %}
                <div class="support-items">
                    {% for block in section.blocks %}
                        {%- assign image = block.settings.image -%}
                        {%- assign heading = block.settings.title -%}
                        {%- assign desc = block.settings.description -%}
                        <div class="support-item">
                            {% if image != blank %}
                                {% assign image_url = image | image_url  %}
                                {% assign image_format = image.alt  %}
                            <div class="support-img">
                                <img width="66" height="66" src="{{ image_url }}" alt="{{ image_format }}" loading="lazy">
                            </div>
                            {% endif %}
                            <div class="support-content">
                                {% if heading != blank %}
                                <div class="text"><b>{{ heading }}</b></div>
                                {% endif %}
                                {% if desc != blank %}
                                <div class="text text-sm">{{ desc }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Call to action form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "inline_richtext",
      "id": "title_before_form",
      "label": "Title before form"
    },
    {
      "type": "inline_richtext",
      "id": "desc_before_form",
      "label": "Description before form"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "After form items",
      "limit": 4,
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "inline_richtext",
            "id": "description",
            "label": "Description"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Call to action form",
      "blocks": []
    }
  ]
}
{% endschema %}