<div class="section padd-lg d-n-hide pd-b-0" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-6">
                <div class="title-shortcode text-center">
                    {% if section.settings.subtitle != blank %}
                    <div class="motto">{{ section.settings.subtitle }}</div>
                    {% endif %}
                    {% if section.settings.title != blank %}
                    <div class="h2 title">{{ section.settings.title }}</div> 
                    {% endif %}
                    {% if section.settings.desc != blank %}
                    <div class="text text-md">{{ section.settings.desc }}</div>
                    {% endif %}
                </div>
                {% if section.settings.form_link != blank %}
                <form id="form" action="{{ section.settings.form_link }}"  method="POST" class="form-block white">
                    <input type="hidden" name="form_type" value="Redbull page form">
                    <input type="hidden" name="subject" value="Redbull form APPLICATION">

                    <div class="row">
                        <div class="col-6">
                            <label class="input-field">
                                <div class="label">{{ 'sections.form.name' | t }}</div>
                                <input name="name" class="input" type="text" placeholder="{{ 'sections.form.name_p' | t }}" required>
                            </label>
                        </div>
                        <div class="col-6">
                            <label class="input-field">
                                <div class="label">{{ 'sections.form.last_name' | t }}</div>
                                <input name="last_name" class="input" type="text" placeholder="{{ 'sections.form.last_name_p' | t }}" required>
                            </label>
                        </div>
                        <div class="col-6">
                            <label class="input-field">
                                <div class="label">{{ 'sections.form.email' | t }}</div>
                                <input name="email" class="input" type="email" placeholder="{{ 'sections.form.email_p' | t }}" required>
                            </label>
                        </div>
                        <div class="col-6">
                            <label class="input-field">
                                <div class="label">{{ 'sections.form.ort' | t }}</div>
                                <input name="postcode" class="input" type="text" placeholder="{{ 'sections.form.ort_p' | t }}" required>
                            </label>
                        </div>
                        <div class="col-12">
                        <label class="input-field">
                            <div class="label">{{ 'sections.form.phone' | t }}</div>
                            <input name="phone" class="input" type="tel" placeholder="{{ 'sections.form.phone_p' | t }}" pattern="^(\+|00)?[0-9\s\-()]{7,20}$" required>
                        </label>
                        </div>

                        <div class="ch-box-wrap">
                            <label class="ch-box custom ">
                                <div class="label">{{ 'sections.form.add_checkbox' | t }}</div>
                                <div class="ch-wrapper">
                                    <input name="add_checkbox" type="checkbox">
                                    <span>{{ section.settings.add_checkbox_desc }}</span>
                                </div>
                            </label>
                        </div>

                        <div class="col-12">
                            <div class="label">{{ 'sections.form.radio_l' | t }}*</div>
                        </div>
                        <div class="ch-box-wrap radio">
                            <label class="ch-box">
                                <input name="radio" value="Option A – Nackenkissen gewinnen" class="input" type="radio" checked>
                                <span>
                                    <div class="label">{{ 'sections.form.radio_f' | t }}*</div>
                                    <div class="radio-desc text text-sm">{{ 'sections.form.radio_f_desc' | t }}.</div>
                                </span>
                            </label>
                            <label class="ch-box">
                                <input name="radio" value="Option B – Doppelte Chance" class="input" type="radio">
                                <span>
                                    <div class="label fl">
                                        <span>{{ 'sections.form.radio_s' | t }}*</span>
                                        <div class="radio-tag">{{ 'sections.form.radio_tag' | t }}</div>
                                    </div>
                                    <div class="radio-desc text text-sm">{{ 'sections.form.radio_s_desc' | t }}.</div>

                                </span>
                            </label>
                        </div>
                        <div class="col-12">
                            <div class="additional-message-text text">
                                <div class="add-text-wrapper">
                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                    <div class="text">
                                        {{ 'sections.form.radio_s_additional_text' | t }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ch-box-wrap">
                        <label class="ch-box">
                            <input name="terms_agreed_optional" type="checkbox" required>
                            <span>{{ section.settings.terms_and_conditions_optional }}</span>
                        </label>
                        <label class="ch-box">
                            <input name="terms_agreed" type="checkbox" required>
                            <span>{{ section.settings.terms_and_conditions }}</span>
                        </label>
                        <label class="ch-box">
                            <input name="terms_agreed_second" type="checkbox">
                            <span>{{ section.settings.terms_and_conditions_second }}</span>
                        </label>
                    </div>

                    <button type="submit" class="btn btn-secondary">
                        <b>{{ 'sections.form.submit_form' | t }}</b>
                        {%- assign svg_icon_url = 'icons_global.svg' | asset_url -%}
                        {%- assign url_no_version = svg_icon_url | split: '?' | first -%}
                        {%- assign final_svg_url = url_no_version | append: '#btn-arrow' -%}
                        <svg width="12" height="12"><use href="{{ final_svg_url }}"></use></svg>
                    </button>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

    const radios = document.querySelectorAll('input[name="radio"]');
    const phoneField = document.querySelector('input[name="phone"]').closest('.col-12');
    const addcheckboxField = document.querySelector('input[name="add_checkbox"]').closest('.ch-box-wrap');
    const additionalText = document.querySelector('.additional-message-text.text');
    const optionalTerms = document.querySelector('input[name="terms_agreed"]').closest('.ch-box');

    const phoneInput = document.querySelector('input[name="phone"]');
    const optionalCheckbox = document.querySelector('input[name="terms_agreed"]');

    function toggleFields() {
        const selected = document.querySelector('input[name="radio"]:checked').value;

        if (selected === "Option B – Doppelte Chance") {
        // SHOW
        phoneField.style.display = "block";
        addcheckboxField.style.display = "block";
        additionalText.style.display = "block";
        optionalTerms.style.display = "flex";

        phoneInput.required = true;
        optionalCheckbox.required = true;

        } else {
        // HIDE
        phoneField.style.display = "none";
        addcheckboxField.style.display = "none";
        additionalText.style.display = "none";
        optionalTerms.style.display = "none";

        phoneInput.required = false;
        optionalCheckbox.required = false;
        }
    }

    radios.forEach(radio => {
        radio.addEventListener("change", toggleFields);
    });

    toggleFields(); // run on page load
    });
</script>


{% schema %}
{
  "name": "CTA form redbull",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image_before_form",
      "label": "Image before form"
    },
    {
      "type": "inline_richtext",
      "id": "form_link",
      "info": "link to a form https://formspree.io/",
      "label": "Link for your form"
    },
    {
      "type": "inline_richtext",
      "id": "title_before_form",
      "label": "Title before form"
    },
    {
      "type": "inline_richtext",
      "id": "desc_before_form",
      "label": "Description before form"
    },
    {
      "type": "richtext",
      "id": "add_checkbox_desc",
      "label": "Additional checkbox text"
    },
    {
      "type": "richtext",
      "id": "terms_and_conditions_optional",
      "label": "Terms and conditions text optional"
    },
    {
      "type": "richtext",
      "id": "terms_and_conditions",
      "label": "Terms and conditions text"
    },
    {
      "type": "richtext",
      "id": "terms_and_conditions_second",
      "label": "Terms and conditions text second"
    },
  ],
  "presets": [
    {
      "name": "CTA form redbull",
      "blocks": []
    }
  ]
}
{% endschema %}