<div class="section sec-cta">
    <div class="banner">
        <div class="banner-media bottom-shadow">
            {% if section.settings.image != blank %}
            {{ section.settings.image 
                | image_url: width: section.settings.image.width
                | image_tag: 
                    width: section.settings.image.width,
                    height: 'auto',
                    alt: section.settings.image.alt,
                    fetchpriority: 'auto',
                    loading: 'lazy'
            }}
            {% endif %}
            {% assign selected_video = section.settings.hero_video_file %}
            {% assign video_url = selected_video.sources.first.url %}

            {% if video_url != blank %}
                {%- assign my_image_object = section.settings.image -%}
                <div class="video video-present">
                <video muted playsinline loop preload poster="{{ my_image_object }}" data-src="{{ video_url }}"></video>
                </div>
            {% endif %}
        </div>
        <div class="banner-align size2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="banner-info text-center">
                            {%  if section.settings.subtitle != blank %}
                            <div class="motto white">{{ section.settings.subtitle }}</div>
                            {% endif %}
                            {%  if section.settings.title != blank %}
                            <div class="h2 title text-balance">{{ section.settings.title }}</div>
                            {% endif %}
                            {%  if section.settings.short_description != blank %}
                            <div class="text">{{ section.settings.short_description }}</div>
                            {% endif %}
                            {% if section.settings.link_text != blank and section.settings.link_url != blank %}
                            <a href="{{ section.settings.link_url }}" class="btn">
                                <b>{{ section.settings.link_text }}</b>
                                {%- assign svg_icon_url = 'icons_global.svg' | asset_url -%}
                                {%- assign url_no_version = svg_icon_url | split: '?' | first -%}
                                {%- assign final_svg_url = url_no_version | append: '#btn-arrow' -%}
                                <svg width="12" height="12"><use href="{{ final_svg_url }}"></use></svg>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Call to action",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "video",
      "id": "hero_video_file",
      "label": "Background video",
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "inline_richtext",
      "id": "short_description",
      "label": "Short description"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "text",
      "id": "link_url",
      "label": "Link url"
    },
  ],
  "presets": [
    {
      "name": "Call to action",
      "blocks": []
    }
  ]
}
{% endschema %}