<div class="section padd-lg " >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xl-6">
                <div class="title-shortcode text-center">
                    {% if section.settings.subtitle != blank %}
                    <div class="motto">{{ section.settings.subtitle }}</div>
                    {% endif %}
                    {% if section.settings.title != blank %}
                    <div class="h2 title">{{ section.settings.title }}</div>
                    {% endif %}
                    {% if section.settings.desc != blank %}
                    <div class="text text-md">{{ section.settings.desc }}</div>
                    {% endif %}
                </div>

                {% form 'contact', class: 'form-block white' %}

                    {% comment %} {% if form.posted_successfully? %}
                        <p class="form-success">Thank you for contacting us! We will be in touch soon.</p>
                    {% endif %} {% endcomment %}
                    {% comment %} {% if form.posted_successfully? %}
                        <div class="contact-form-section" data-form-status="success"></div>
                    {% endif %} {% endcomment %}

                    {% if form.errors %}
                        <div class="form-error">
                        {{ form.errors | default_errors }}
                        </div>
                    {% endif %}

                    <div class="form-expert-block">
                        <div class="content">
                            {% if section.settings.title_before_form != blank %}
                            <div class="text text-md"><b>{{ section.settings.title_before_form }}</b></div>
                            {% endif %}
                            {% if section.settings.desc_before_form != blank %}
                            <div class="text text-sm">{{ section.settings.desc_before_form }}</div>
                        {% endif %}
                        </div>
                        {% assign image_before_form = section.settings.image_before_form %}
                        
                        {% if image_before_form != blank %}
                            {% assign image_b_url = image_before_form | image_url  %}
                            {% assign image_b_alt = image_before_form.alt  %}
                            <img width="64" height="64" src="{{ image_b_url }}" alt="{{ image_b_alt }}" loading="lazy">
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                        <label class="input-field">
                            <div class="label">{{ 'general.form.name' | t }}</div>
                            <input name="contact[name]" class="input" type="text" placeholder="{{ 'general.form.name_p' | t }}" required>
                            {% comment %} <div class="input-error">Please fill in this field</div> {% endcomment %}
                        </label>
                        </div>
                        <div class="col-12">
                        <label class="input-field">
                            <div class="label">email</div>
                            <input name="contact[email]" class="input" type="email" placeholder="{{ 'general.form.email_p' | t }}" required>
                            {% comment %} <div class="input-error">Please fill in this field</div> {% endcomment %}
                        </label>
                        </div>
                        <div class="col-12">
                        <label class="input-field">
                            <div class="label">{{ 'general.form.phone' | t }}</div>
                            <input name="contact[phone]" class="input" type="tel" placeholder="{{ 'general.form.phone_p' | t }}" required>
                            {% comment %} <div class="input-error">Please fill in this field</div> {% endcomment %}
                        </label>
                        </div>
                        <div class="col-12">
                        <label class="input-field">
                            <div class="label">{{ 'general.form.city' | t }}</div>
                            <input name="contact[city]" class="input" type="text" placeholder="{{ 'general.form.city_p' | t }}" required>
                            {% comment %} <div class="input-error">Please fill in this field</div> {% endcomment %}
                        </label>
                        </div>
                    </div>
                    <div class="ch-box-wrap">
                        <label class="ch-box">
                        <input name="contact[terms_agreed]" type="checkbox" required>
                        {% comment %} <span>By sending this form, I agree to the <a href="privacy.php">Terms of Service</a> and <a href="privacy.php">Privacy Policy</a>.</span> {% endcomment %}
                        <span>{{ section.settings.terms_and_conditions }}</span>
                        </label>
                    </div>

                    <button type="submit" class="btn btn-secondary">
                        <b>{{ 'general.form.submit_form' | t }}</b>
                        {%- assign svg_icon_url = 'icons_global.svg' | asset_url -%}
                        {%- assign url_no_version = svg_icon_url | split: '?' | first -%}
                        {%- assign final_svg_url = url_no_version | append: '#btn-arrow' -%}
                        <svg width="12" height="12"><use href="{{ final_svg_url }}"></use></svg>
                    </button>

                    {%- if form.posted_successfully? -%}
                        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                        {{- 'icon-success.svg' | inline_asset_content -}}
                        <p>{{ 'templates.contact.form.post_success' | t }}</p>
                        </h2>
                    {%- elsif form.errors -%}
                        <div class="form__message">
                        <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                            {{- 'icon-error.svg' | inline_asset_content -}}
                            <p>{{ 'templates.contact.form.error_heading' | t }}</p>
                        </h2>
                        </div>
                        <ul class="form-status-list caption-large" role="list">
                        <li>
                            <a href="#ContactForm-email" class="link">
                            {{ form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email }}
                            </a>
                        </li>
                        </ul>
                    {%- endif -%}

                {% endform %}


                {% if section.blocks != blank %}
                <div class="support-items">
                    {% for block in section.blocks %}
                        {%- assign image = block.settings.image -%}
                        {%- assign heading = block.settings.title -%}
                        {%- assign desc = block.settings.description -%}
                        <div class="support-item">
                            {% if image != blank %}
                                {% assign image_url = image | image_url  %}
                                {% assign image_format = image.alt  %}
                            <div class="support-img">
                                <img width="66" height="66" src="{{ image_url }}" alt="{{ image_format }}" loading="lazy">
                            </div>
                            {% endif %}
                            <div class="support-content">
                                {% if heading != blank %}
                                <div class="text"><b>{{ heading }}</b></div>
                                {% endif %}
                                {% if desc != blank %}
                                <div class="text text-sm">{{ desc }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Call to action form",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image_before_form",
      "label": "Image before form"
    },
    {
      "type": "inline_richtext",
      "id": "title_before_form",
      "label": "Title before form"
    },
    {
      "type": "inline_richtext",
      "id": "desc_before_form",
      "label": "Description before form"
    },
    {
      "type": "richtext",
      "id": "terms_and_conditions",
      "label": "Terms and conditions text"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "After form items",
      "limit": 4,
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "inline_richtext",
            "id": "description",
            "label": "Description"
        },
      ]
    },
    {
        "type": "@app",
    }
  ],
  "presets": [
    {
      "name": "Call to action form",
      "blocks": []
    }
  ]
}
{% endschema %}