<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <div class="title-shortcode text-center mb-0">
                    {% if section.settings.subtitle != blank %}
                    <div class="motto">{{ section.settings.subtitle }}</div>
                    {% endif %}
                    {% if section.settings.title != blank %}
                    <h1 class="h1 size2 title no-balance">{{ section.settings.title }}</h1>
                    {% endif %}
                </div>
            </div>
            {% if section.blocks != blank %}
                {% assign image_count = 0 %}
                {% capture comma_list %}{% for block in section.blocks %}{%- assign image = block.settings.image -%}{% if image != blank %}{% assign image_count = image_count | plus: 1 %}{% assign image_url = image | image_url  %}{{ image_url }}{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}{% endcapture %}
                {% assign comma_list = comma_list | strip | replace: ' ', '' %}
                {% for block in section.blocks limit: 1 %}
                    {%- assign image = block.settings.image -%}
                        {% if image != blank %}
                        {% assign image_url = image | image_url  %}
                            <div class="col-lg-10 col-xl-8">
                                <div class="mattress-img mt-200 decor video-block">
                                    <img class="auto-scroll-imgs" data-images="{{ comma_list }}" data-frame="{{ image_count }}" data-folder="frame-2" src="{{ image_url }}" alt="frame" />
                                </div>
                            </div>
                        {% endif %}
                {% endfor %}
            {% endif %}

              {%- assign test_img = section.settings.test_img -%}
              {% if test_img != blank %}
              {% assign test_image = test_img | image_url  %}
              <div class="col-lg-10 col-xl-8">
                  <div class="mattress-img mt-200 decor video-block">
                      <img class="test" src="{{ test_image }}" alt="frame" />
                  </div>
              </div>
              {% endif %}
            <div class="col-lg-7">
                <div class="title-shortcode mb-0 text-center mt-64 mt-des-32">
                    {% if section.settings.title_under_img != blank %}
                    <div class="h2 h3-mob title font-1 fw-500 ls-2">{{ section.settings.title_under_img }}</div>
                    {% endif %}
                    {% if section.settings.short_desc_under_img != blank %}
                    <div class="text text-md">{{ section.settings.short_desc_under_img }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-lg"></div>
</div>

{% schema %}
{
  "name": "How it works banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "test_img",
      "label": "test image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title_under_img",
      "label": "Title under images"
    },
    {
      "type": "text",
      "id": "short_desc_under_img",
      "label": "Short description under images"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Images for animation",
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "How it works banner",
      "blocks": []
    }
  ]
}
{% endschema %}