{% assign image_count1 = 1 %}
{% assign image_count2 = 1 %}

{% assign gallery = page.metafields.custom.custom_gallery.value | default: empty %}
{% assign gallery2 = page.metafields.custom.slideshow_how_page_tab_2.value | default: empty %}
{% assign gallery3 = page.metafields.custom.slideshow_how_page_tab_1_third_part.value | default: empty %}
{% assign gallery4 = page.metafields.custom.slideshow_how_page_tab_1_forth_part.value | default: empty %}
{% assign gallery5 = page.metafields.custom.slideshow_how_page_tab_1_fifth_part.value | default: empty %}
{% assign gallery6 = page.metafields.custom.slideshow_how_page_tab_1_six_part.value | default: empty %}


{% assign gallery_sec = page.metafields.custom.slideshow_how_page_tab_2_first.value | default: empty %}
{% assign gallery2_sec = page.metafields.custom.slideshow_how_page_tab_2_second.value | default: empty %}
{% assign gallery3_sec = page.metafields.custom.slideshow_how_page_tab_2_third.value | default: empty %}
{% assign gallery4_sec = page.metafields.custom.slideshow_how_page_tab_2_forth.value | default: empty %}
{% assign gallery5_sec = page.metafields.custom.slideshow_how_page_tab_2_fifth.value | default: empty %}
{% assign gallery6_sec = page.metafields.custom.slideshow_how_page_tab_2_six.value | default: empty %}



{% assign comma_list = '' %}
{% assign comma_list_sec = '' %}


{% if gallery != blank %}
    {% for image in gallery %}
    {% assign img_url = image | image_url %}
    {% if forloop.first %}
        {% assign comma_list = img_url %}
    {% else %}
        {% assign comma_list = comma_list | append: ',' | append: img_url %}
        {% assign image_count1 = image_count1 | plus: 1 %}
    {% endif %}
    {% endfor %}
{% endif %}

{% if gallery2 != blank %}
    {% for image in gallery2 %}
        {% assign img_url = image | image_url %}
            {% assign comma_list = comma_list | append: ',' | append: img_url %}
            {% assign image_count1 = image_count1 | plus: 1 %}
    {% endfor %}
{% endif %}

{% if gallery3 != blank %}
    {% for image in gallery3 %}
        {% assign img_url = image | image_url %}
            {% assign comma_list = comma_list | append: ',' | append: img_url %}
            {% assign image_count1 = image_count1 | plus: 1 %}
    {% endfor %}
{% endif %}

{% if gallery4 != blank %}
    {% for image in gallery4 %}
        {% assign img_url = image | image_url %}
            {% assign comma_list = comma_list | append: ',' | append: img_url %}
            {% assign image_count1 = image_count1 | plus: 1 %}
    {% endfor %}
{% endif %}

{% if gallery5 != blank %}
    {% for image in gallery5 %}
        {% assign img_url = image | image_url %}
            {% assign comma_list = comma_list | append: ',' | append: img_url %}
            {% assign image_count1 = image_count1 | plus: 1 %}
    {% endfor %}
{% endif %}

{% if gallery6 != blank %}
    {% for image in gallery6 %}
        {% assign img_url = image | image_url %}
            {% assign comma_list = comma_list | append: ',' | append: img_url %}
            {% assign image_count1 = image_count1 | plus: 1 %}
    {% endfor %}
{% endif %}


{% if gallery_sec != blank %}
    {% for image in gallery_sec %}
    {% assign img_url = image | image_url %}
    {% if forloop.first %}
        {% assign comma_list_sec = img_url %}
    {% else %}
        {% assign comma_list_sec = comma_list_sec | append: ',' | append: img_url %}
        {% assign image_count2 = image_count2 | plus: 1 %}
    {% endif %}
    {% endfor %}
{% endif %}

{% if gallery2_sec != blank %}
    {% for image in gallery2_sec %}
        {% assign img_url = image | image_url %}
            {% assign comma_list_sec = comma_list_sec | append: ',' | append: img_url %}
            {% assign image_count2 = image_count2 | plus: 1 %}
    {% endfor %}
{% endif %}

{% if gallery3_sec != blank %}
    {% for image in gallery3_sec %}
        {% assign img_url = image | image_url %}
            {% assign comma_list_sec = comma_list_sec | append: ',' | append: img_url %}
            {% assign image_count2 = image_count2 | plus: 1 %}
    {% endfor %}
{% endif %}

{% if gallery4_sec != blank %}
    {% for image in gallery4_sec %}
        {% assign img_url = image | image_url %}
            {% assign comma_list_sec = comma_list_sec | append: ',' | append: img_url %}
            {% assign image_count2 = image_count2 | plus: 1 %}
    {% endfor %}
{% endif %}

{% if gallery5_sec != blank %}
    {% for image in gallery5_sec %}
        {% assign img_url = image | image_url %}
            {% assign comma_list_sec = comma_list_sec | append: ',' | append: img_url %}
            {% assign image_count2 = image_count2 | plus: 1 %}
    {% endfor %}
{% endif %}

{% if gallery6_sec != blank %}
    {% for image in gallery6_sec %}
        {% assign img_url = image | image_url %}
            {% assign comma_list_sec = comma_list_sec | append: ',' | append: img_url %}
            {% assign image_count2 = image_count2 | plus: 1 %}
    {% endfor %}
{% endif %}


<div class="section sec-black sec-black-gradient padd-lg layers-sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-xl-6">
                <div class="title-shortcode text-center">
                    {% if section.settings.title != blank %}
                    <div class="h2 title">{{ section.settings.title }}</div>
                    {% endif %}
                    {% if section.settings.subtitle != blank %}
                    <div class="text text-md">{{ section.settings.subtitle }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="layer-item type2 hide">
            <div class="title-shortcode mb-64">
                {% if section.settings.title_under_img != blank %}
                <div class="h2 title">{{ section.settings.title_under_img }}</div>
                {% endif %}
                {% if section.settings.short_desc_under_img != blank %}
                <div class="text text-md">{{ section.settings.short_desc_under_img }}</div>
                {% endif %}
                </div>
            <div class="choose-layer">
                <div class="item active">{{ section.settings.first_tab_name  }}</div>
                <div class="item">{{ section.settings.second_tab_name  }}</div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-6 order-lg-2">
                <div class="sticky-block">
                    <div class="layer-video-block">
                        {% comment %} {% assign image_count1 = 0 %} {% endcomment %}
                        {% comment %} {% assign image_count2 = 0 %} {% endcomment %}
                        {% comment %} {% capture comma_list %}{% for block in section.blocks %}{% if block.type == 'animation1' %}{%- assign image = block.settings.image -%}{% if image != blank %}{% assign image_count1 = image_count1 | plus: 1 %}{% assign image_url = image | image_url  %}{{ image_url }}{% unless forloop.last %},{% endunless %}{% endif %}{% endif %}{% endfor %}{% endcapture %} {% endcomment %}
                        {% comment %} {% assign comma_list = comma_list | strip | replace: ' ', '' %} {% endcomment %}

                        {% for block in section.blocks %}
                            {% if block.type == 'animation1' %}
                                    {%- assign image = block.settings.image -%}
                                    {% if image != blank %}
                                    {% assign image_url = image | image_url  %}
                                        <img class="scroll-imgs active " data-scroll-offset="0.25" data-scroll-offset-mob="0.5" data-images="{{ comma_list }}" data-frame="{{ image_count1 }}" data-folder="frame-1" src="{{ image_url }}" alt="frame" />
                                    {% endif %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% comment %} {% capture comma_list %}{% for block in section.blocks %}{% if block.type == 'animation2' %}{%- assign image = block.settings.image -%}{% if image != blank %}{% assign image_count2 = image_count2 | plus: 1 %}{% assign image_url = image | image_url  %}{{ image_url }}{% unless forloop.last %},{% endunless %}{% endif %}{% endif %}{% endfor %}{% endcapture %}
                        {% assign comma_list = comma_list | strip | replace: ' ', '' %} {% endcomment %}
                        {% for block in section.blocks %}
                            {% if block.type == 'animation2' %}
                                    {%- assign image = block.settings.image -%}
                                    {% if image != blank %}
                                    {% assign image_url = image | image_url  %}
                                        <img class="scroll-imgs" data-scroll-offset="0.25" data-scroll-offset-mob="0.5" data-images="{{ comma_list_sec }}" data-frame="{{ image_count2 }}" data-folder="frame-2" src="{{ image_url }}" alt="frame" />
                                    {% endif %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="scroll-layers">
                    {% if section.blocks != blank %}
                    {% for block in section.blocks %}
                        {% if block.type == 'slides' %}
                        {% assign first_slide = block %}
                        {%- assign title = block.settings.title -%}
                        {%- assign desc = block.settings.description -%}
                        <div class="layer-item type2">
                            <div class="title-shortcode mb-64 hide-lg">
                                {% if section.settings.title_under_img != blank %}
                                <div class="h2 title">{{ section.settings.title_under_img }}</div>
                                {% endif %}
                                {% if section.settings.short_desc_under_img != blank %}
                                <div class="text text-md">{{ section.settings.short_desc_under_img }}</div>
                                {% endif %}
                            </div>
                            <div class="choose-layer hide-lg">
                                <div class="item active">{{ section.settings.first_tab_name  }}</div>
                                <div class="item">{{ section.settings.second_tab_name  }}</div>
                            </div>
                            {% if title != blank %}
                            <div class="h2 title">{{ title }}</div>
                            {% endif %}
                            {% if desc != blank %}
                            <div class="text text-md">
                                {{ desc }}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% break %}
                    {% endfor %}
                    {% for block in section.blocks offset: 1 %}
                        {% if block.type == 'slides' and block.id != first_slide.id %}
                        {%- assign title = block.settings.title -%}
                        {%- assign desc = block.settings.description -%}
                        <div class="layer-item type2">
                            {% if title != blank %}
                            <div class="title h2">{{ title }}</div>
                            {% endif %}
                            {% if desc != blank %}
                            <div class="text text-md">
                                {{ desc }}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "How it works scroll",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title_under_img",
      "label": "Second title"
    },
    {
      "type": "text",
      "id": "short_desc_under_img",
      "label": "Text after second title"
    },
    {
      "type": "inline_richtext",
      "id": "first_tab_name",
      "label": "First tab name"
    },
    {
      "type": "inline_richtext",
      "id": "second_tab_name",
      "label": "Second tab name"
    },
  ],
  "blocks": [
    {
      "type": "animation1",
      "name": "First animation item",
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
      ]
    },
    {
      "type": "animation2",
      "name": "Second animation item",
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
      ]
    },
    {
      "type": "slides",
      "name": "Right info",
      "settings": [
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "How it works scroll",
      "blocks": []
    }
  ]
}
{% endschema %}