<div class="section">
    <div class="banner red">
        <div class="banner-media top-bottom-shadow style-2">
            {% assign image_object = section.settings.image %}
            {% assign full_image_url = image_object | img_url: 'master' %}
            {% assign image_format = image_object.format %}
            {% if full_image_url != blank %}
            <picture>
                <source srcset="{{ full_image_url }}" type="{{ image_format }}">
                <img width="380" height="240" src="#" alt="" loading="eager">
            </picture>
            {% endif %}
        </div>
        <div class="banner-align align-bottom xxl">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-xl-7 col-10">
                        <div class="banner-info">
                            {%- if section.settings.subtitle != blank -%}
                            <div class="motto light">{{ section.settings.subtitle }}</div>
                            {% endif %}
                            {% if section.settings.title != blank %}
                            <h1 class="h1 title text-balance">{{ section.settings.title }}</h1>
                            {% endif %}
                            {% if section.settings.description != blank %}
                            <div class="text text-md">{{ section.settings.description }}</div>
                            {% endif %}
                            {% if section.settings.button_link_1 != blank and section.settings.button_label_1 != blank %}
                            <div class="banner-btn">
                                <div class="button-wrapp left">
                                    <a href="{{ section.settings.button_link_1 }}" class="btn">
                                    <b> {{- section.settings.button_label_1 | escape -}}</b>
                                        {%- assign svg_icon_url = 'icons_global.svg' | asset_url -%}
                                        {%- assign url_no_version = svg_icon_url | split: '?' | first -%}
                                        {%- assign final_svg_url = url_no_version | append: '#btn-arrow' -%}
                                        <svg width="12" height="12"><use href="{{ final_svg_url }}"></use></svg>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% if section.settings.countdown_date != blank %}
                        <div class="countdown-wrapper">
                            <div class="countdown">
                                <div class="time-box">
                                    <span class="number" id="days">00</span>
                                    <span class="label">{{ 'sections.red.days' | t }}</span>
                                </div>

                                <div class="separator">:</div>

                                <div class="time-box">
                                    <span class="number" id="hours">00</span>
                                    <span class="label">{{ 'sections.red.hours' | t }}</span>
                                </div>

                                <div class="separator">:</div>

                                <div class="time-box">
                                    <span class="number" id="minutes">00</span>
                                    <span class="label">{{ 'sections.red.minutes' | t }}</span>
                                </div>

                                <div class="separator">:</div>

                                <div class="time-box">
                                    <span class="number" id="seconds">00</span>
                                    <span class="label">{{ 'sections.red.seconds' | t }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% assign image_object_p = section.settings.bottom_path %}
                    {% assign full_image_url_p = image_object_p | img_url: 'master' %}
                    {% assign image_format_p = image_object_p.format %}
                    {% if full_image_url_p != blank %}
                    <div class="col-lg-3 col-5 bottom-right">
                        <picture>
                            <source srcset="{{ full_image_url_p }}" type="{{ image_format_p }}">
                            <img width="380" height="240" src="#" alt="" loading="eager" class="bottom-patch">
                        </picture>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% if section.settings.countdown_date != blank %}
<script>
    const targetDate = new Date("{{ section.settings.countdown_date }}").getTime();
    {% comment %} const targetDate = new Date("2026-03-01T00:00:00").getTime(); {% endcomment %}

    const countdown = setInterval(function () {

        const now = new Date().getTime();
        const distance = targetDate - now;

        if (distance < 0) {
            clearInterval(countdown);
            return;
        }

        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance / (1000 * 60 * 60)) % 24);
        const minutes = Math.floor((distance / (1000 * 60)) % 60);
        const seconds = Math.floor((distance / 1000) % 60);

        document.getElementById("days").innerText = String(days).padStart(2, '0');
        document.getElementById("hours").innerText = String(hours).padStart(2, '0');
        document.getElementById("minutes").innerText = String(minutes).padStart(2, '0');
        document.getElementById("seconds").innerText = String(seconds).padStart(2, '0');

    }, 1000);
</script>
{% endif %}


{% schema %}
{
  "name": "Image banner red",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "bottom_path",
      "label": "Bottom left patch"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "inline_richtext",
      "id": "button_link_1",
      "label": "Button link"
    },
    {
      "type": "inline_richtext",
      "id": "button_label_1",
      "label": "Button label"
    },
    {
      "type": "text",
      "id": "countdown_date",
      "label": "Countdown date (YYYY-MM-DDTHH:MM:SS)",
      "info": "Format: YYYY-MM-DD",
      "default": "2026-03-01T00:00:00"
      
    }
  ],
  "presets": [
    {
      "name": "Image banner red",
      "blocks": []
    }
  ]
}
{% endschema %}