{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}


<div class="section banner-section">
    <div class="banner full">
        <div class="banner-media">
          {{
            section.settings.image
            | image_url: width: 3840
            | image_tag:
              width: section.settings.image.width,
              height: image_height,
              class: image_class,
              sizes: sizes,
              widths: widths,
              fetchpriority: fetch_priority
          }}


          
          {% assign selected_video = section.settings.hero_video_file %}
          {% comment %} Get the URL of the first source (often the main .mp4) {% endcomment %}
          {% assign video_url = selected_video.sources.first.url %}

          {% if video_url != blank %}
            {%- assign my_image_object = section.settings.image -%}
            <!-- to display the video, add a class 'video-present' to the video -->
            <div class="video video-present">
              <video muted playsinline loop preload poster="{{ my_image_object }}" data-src="{{ video_url }}"></video>
            </div>
          {% endif %}
        </div>
        <div class="banner-align align-top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7">
                        <div class="banner-info text-center">
                            <div class="rating">
                                {%- assign svg_icon_url = 'icon-rating.svg' | asset_url -%}
                                <img width="380" height="240" src="{{ svg_icon_url }}" alt="icon" loading="lazy">
                                <span>Rated 4.5 on Trustpilot</span>
                            </div>
                            {%- for block in section.blocks -%}
                              {%- case block.type -%}
                                {%- when 'heading' -%}
                                  <h1 class="h1 title text-balance">{{ block.settings.heading }}</h1>
                                {%- when 'buttons' -%}
                                  <div class="banner-btn">
                                      <div class="button-wrapp">
                                          <a href="{{ block.settings.button_link_1 }}" class="btn">
                                            <b> {{- block.settings.button_label_1 | escape -}}</b>
                                              {%- assign svg_icon_url = 'icons_global.svg' | asset_url -%}
                                              {%- assign url_no_version = svg_icon_url | split: '?' | first -%}
                                              {%- assign final_svg_url = url_no_version | append: '#btn-arrow' -%}
                                              <svg width="12" height="12"><use href="{{ final_svg_url }}"></use></svg>
                                          </a>
                                      </div>
                                  </div>
                              {%- endcase -%}
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-sticker">
            <div class="img">
                {{ section.settings.image_left_bottom
                  | image_url: width: 120
                  | image_tag:
                    width: section.settings.image_left_bottom.width,
                    fetchpriority: fetch_priority }}
            </div>
            <div class="content">
                {{ section.settings.image_left_bottom_logo
                  | image_url: width: 85
                  | image_tag:
                    width: section.settings.image_left_bottom_logo.width,
                    fetchpriority: fetch_priority
                }}
                {% if section.settings.image_left_bottom_description != blank %}
                <div class="text">{{ section.settings.image_left_bottom_description }}</div>
                {% endif %}
                {% if section.settings.image_left_bottom_text != blank and section.settings.image_left_bottom_link != blank %}
                <a href="{{ section.settings.image_left_bottom_link }}" class="btn-link">
                    <b>{{ section.settings.image_left_bottom_text }}</b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                        <path d="M0.75 4.25H7.75M7.75 4.25L4.25 0.75M7.75 4.25L4.25 7.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner-video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner-video.settings.image.label"
    },
    {
      "type": "video",
      "id": "hero_video_file",
      "label": "t:sections.image-banner-video.settings.hero_video_file.label",
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner-video.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.image-banner-video.settings.content.content"
    },
    {
      "type": "image_picker",
      "id": "image_left_bottom",
      "label": "t:sections.image-banner-video.settings.image_left_bottom.label"
    },
    {
      "type": "image_picker",
      "id": "image_left_bottom_logo",
      "label": "t:sections.image-banner-video.settings.image_left_bottom_logo.label"
    },
    {
      "type": "inline_richtext",
      "id": "image_left_bottom_description",
      "label": "t:sections.image-banner-video.settings.image_left_bottom_description.label"
    },
    {
      "type": "text",
      "id": "image_left_bottom_text",
      "label": "Button Label",
      "default": "Click Here"
    },
    {
      "type": "text",
      "id": "image_left_bottom_link",
      "label": "Button URL",
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner-video.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner-video.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner-video.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner-video.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner-video.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner-video.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner-video.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner-video.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner-video.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner-video.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner-video.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner-video.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner-video.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner-video.settings.desktop_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner-video.settings.show_text_box.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner-video.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner-video.settings.stack_images_on_mobile.label"
    },    
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner-video.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner-video.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner-video.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner-video.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner-video.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner-video.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-banner-video.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner-video.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner-video.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.image-banner-video.blocks.text.settings.text.default",
          "label": "t:sections.image-banner-video.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner-video.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner-video.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner-video.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner-video.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner-video.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
        "type": "header",
        "content": "t:sections.image-banner-video.blocks.buttons.settings.header_1.content"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.image-banner-video.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner-video.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner-video.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner-video.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner-video.blocks.buttons.settings.button_style_secondary_1.label"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner-video.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
