{% comment %} {{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

<article class="article-template">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        <div class="page-width page-width--narrow">
          {% render block %}
        </div>
      {%- when 'featured_image' -%}
        {%- if article.image -%}
          <div
            class="article-template__hero-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <div
              class="article-template__hero-{{ block.settings.image_height }} media"
              {% if block.settings.image_height == 'adapt' and article.image %}
                style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              <img
                srcset="
                  {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                  {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                  {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ article.image | image_url }} {{ article.image.width }}w
                "
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                src="{{ article.image | image_url: width: 1100 }}"
                loading="eager"
                fetchpriority="high"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                alt="{{ article.image.alt | escape }}"
              >
            </div>
          </div>
        {%- endif -%}

      {%- when 'title' -%}
        <header
          class="page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          {{ block.shopify_attributes }}
        >
          <h1
            class="article-template__title"
          >
            {{ article.title | escape }}
          </h1>
          {%- if block.settings.blog_show_date -%}
            <span class="circle-divider caption-with-letter-spacing">
              {{- article.published_at | time_tag: format: 'date' -}}
            </span>
          {%- endif -%}
          {%- if block.settings.blog_show_author -%}
            <span class="caption-with-letter-spacing">
              <span>{{ article.author }}</span>
            </span>
          {%- endif -%}
        </header>

      {%- when 'content' -%}
        <div
          class="article-template__content page-width page-width--narrow rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
        >
          {{ article.content }}
        </div>

      {%- when 'share' -%}
        <div
          class="article-template__social-sharing page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
        >
          {% assign share_url = request.origin | append: article.url %}
          {% render 'share-button', block: block, share_link: share_url %}
        </div>
    {%- endcase -%}
  {%- endfor -%}

  <div class="article-template__back element-margin-top center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <a href="{{ blog.url }}" class="article-template__link link animate-arrow">
      <span class="icon-wrap">
        <span class="svg-wrapper">
          {{- 'icon-arrow.svg' | inline_asset_content -}}
        </span>
      </span>
      {{ 'blogs.article.back_to_blog' | t: title: blog.title | escape }}
    </a>
  </div>
  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-secondary">
      <div
        id="comments"
        class="page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      >
        {%- if article.comments_count > 0 -%}
          {%- assign anchorId = '#Comments-' | append: article.id -%}

          <h2 id="Comments-{{ article.id }}" tabindex="-1">
            {{ 'blogs.article.comments' | t: count: article.comments_count }}
          </h2>
          {% paginate article.comments by 5 %}
            <div class="article-template__comments">
              {%- if comment.status == 'pending' and comment.content -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                  </footer>
                </article>
              {%- endif -%}

              {%- for comment in article.comments -%}
                <article id="{{ comment.id }}" class="article-template__comments-comment">
                  {{ comment.content }}
                  <footer class="right">
                    <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span
                    ><span class="caption-with-letter-spacing">
                      {{- comment.created_at | time_tag: format: 'date' -}}
                    </span>
                  </footer>
                </article>
              {%- endfor -%}
              {% render 'pagination', paginate: paginate, anchor: anchorId %}
            </div>
          {% endpaginate %}
        {%- endif -%}
        {% form 'new_comment', article %}
          {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
          <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
          {%- if form.errors -%}
            <div class="form__message" role="alert">
              <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ 'templates.contact.form.error_heading' | t }}
              </h3>
            </div>
            <ul class="form-status-list caption-large">
              {%- for field in form.errors -%}
                <li>
                  <a href="#CommentForm-{{ field }}" class="link">
                    {%- if form.errors.translated_fields[field] contains 'author' -%}
                      {{ 'blogs.article.name' | t }}
                    {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                      {{ 'blogs.article.message' | t }}
                    {%- else -%}
                      {{ form.errors.translated_fields[field] }}
                    {%- endif -%}
                    {{ form.errors.messages[field] }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- elsif form.posted_successfully? -%}
            <div class="form-status-list form__message" role="status">
              <h3 class="form-status" tabindex="-1" autofocus>
                <span class="svg-wrapper">
                  {{- 'icon-success.svg' | inline_asset_content -}}
                </span>
                {{ post_message | t }}
              </h3>
            </div>
          {%- endif -%}

          <div
            {% if blog.moderated? == false %}
              class="article-template__comments-fields"
            {% endif %}
          >
            <div class="article-template__comment-fields">
              <div class="field field--with-error">
                <input
                  type="text"
                  name="comment[author]"
                  id="CommentForm-author"
                  class="field__input"
                  autocomplete="name"
                  value="{{ form.author }}"
                  aria-required="true"
                  required
                  {% if form.errors contains 'author' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-author-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.name' | t }}"
                >
                <label class="field__label" for="CommentForm-author">
                  {{- 'blogs.article.name' | t }}
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error">
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- 'blogs.article.name' | t }}
                      {{ form.errors.messages.author }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
              <div class="field field--with-error">
                <input
                  type="email"
                  name="comment[email]"
                  id="CommentForm-email"
                  autocomplete="email"
                  class="field__input"
                  value="{{ form.email }}"
                  autocorrect="off"
                  autocapitalize="off"
                  aria-required="true"
                  required
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-email-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.email' | t }}"
                >
                <label class="field__label" for="CommentForm-email">
                  {{- 'blogs.article.email' | t }}
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'email' -%}
                  <small id="CommentForm-email-error">
                    <span class="form__message">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- 'blogs.article.email' | t }}
                      {{ form.errors.messages.email }}.</span
                    >
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input"
                aria-required="true"
                required
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}
                placeholder="{{ 'blogs.article.message' | t }}"
              >{{ form.body }}</textarea>
              <label class="form__label field__label" for="CommentForm-body">
                {{- 'blogs.article.message' | t }}
                <span aria-hidden="true">*</span></label
              >
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error">
                <span class="form__message">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{- 'blogs.article.message' | t }}
                  {{ form.errors.messages.body }}.</span
                >
              </small>
            {%- endif -%}
          </div>
          {%- if blog.moderated? -%}
            <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
          {%- endif -%}
          <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
        {% endform %}
      </div>
    </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {{ article | structured_data }}
</script> {% endcomment %}

{%- comment -%}
  Comments may not appear right after they are submitted, either to be checked by Shopify's spam filter
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372
{%- endcomment -%}

{{ 'custom-blog-styles.scss' | asset_url | stylesheet_tag }}

<div class="nightBackground"></div>

<article>
  <div class="section article">
    <div class="section__wrapper">
      <div class="section__header">
        <div class="article__hero">
          {%- if article.image != nil -%}
            <img src="{{ article.image | img_url: '1217x' }}" loading="eager" class="lazyload" data-src="{{ article.image | img_url: '1217x' }}" />
          {%- endif -%}
        </div>
        <div class="article__title">
          <h1 class="h1">{{ article.title }}</h1>
        </div>
      </div>
      <div class="section__main">
        <aside class="section__aside">
          <div table-of-content>
            <div class="toc">
              <div class="toc__sticky">
                <div class="toc__container">
                  <div class="toc__toggle">
                    <p>Inhaltsverzeichnis</p>
                  </div>
                  <div class="toc__wrapper"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section__aside__item" share>
            <p>Jetzt teilen</p>
            <ul class="share">
              <li><a class="icon icon--stroke icon--circle" href="">{%- include 'icon-facebook-article' -%}</a></li>
              <li><a class="icon icon--stroke icon--circle" href="">{%- include 'icon-twitter-article' -%}</a></li>
              <li><a class="icon icon--stroke icon--circle" href="">{%- include 'icon-mail-article' -%}</a></li>
              <li><a class="icon icon--stroke icon--circle" href="">{%- include 'icon-copylink-article' -%}</a></li>
            </ul>
          </div>
          <div class="section__aside__item" sticky>
            <p>Ähnliche Artikel</p>
            <ul class="related">
              {%- assign rt_count = 0 -%}
              {%- for rt_article in blog.articles -%}
                {%- if rt_article != article -%}
                  <li class="related__item">
                    <a class="related__link" href="{{ rt_article.url }}" title="{{ rt_article.title }}">
                      <article>
                        <div class="related__media">
                          {%- if rt_article.image -%}
                            <img src="{{ article.image | img_url: '1217x' }}" class="lazyload" data-src="{{ rt_article.image | img_url: '160x' }}" />
                          {%- endif -%}
                        </div>
                        <p>{{ rt_article.title }}</p>
                      </article>
                    </a>
                  </li>
                  {%- assign rt_count = rt_count | plus: 1 -%}
                {%- endif -%}
                {%- if rt_count == 2 -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        </aside>
        <div class="section__body">
          <div class="article">
            <div class="article__body">
              {{ article.content }}
            </div>
            <!-- SEVEN SUNDAYS BRAND VIDEO -->

            <h2 class="h2">SEVEN SUNDAYS<span>: Die Schweizer Schlafmanufaktur für innovative Premium Schlafprodukte!</span>
            </h2>
            <div class="article_video_advertisment video-container"><iframe src="https://www.youtube.com/embed/hrV3gs4TBO0?rel=0&amp;vq=hd1080" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
            <h3 class="advertisment h3">Besser schlafen - mit Energie aufwachen!</h3>
            <a href="/?utm_source=blog&amp;utm_medium=banner" title="Besser schlafen - mit Energie aufwachen!"><img src="https://cdn.shopify.com/s/files/1/0322/4194/2587/files/button_shop.png?v=1650883455" alt="Besser schlafen - mit Energie aufwachen!"></a> <br><br>
            
            <footer class="article__footer">
              <div>
                <div class="article__author">
                  <p>Gepostet von</p>
                  <p class="h3">{{ article.author }}</p>
                </div>
                <ul class="share">
                  <li><a class="icon icon--stroke icon--circle" href="">{%- include 'icon-facebook-article' -%}</a></li>
                  <li><a class="icon icon--stroke icon--circle" href="">{%- include 'icon-twitter-article' -%}</a></li>
                  <li><a class="icon icon--stroke icon--circle" href="">{%- include 'icon-mail-article' -%}</a></li>
                  <li><a class="icon icon--stroke icon--circle" href="">{%- include 'icon-copylink-article' -%}</a></li>
                </ul>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section--divider">
    <div class="section__wrapper">
      <div class="section__header">
        <div class="h2">Ähnliche Artikel</div>
      </div>
      <ul class="grid">
        {%- assign rt_count = 0 -%}
        {%- for rt_article in blog.articles -%}
          {%- if rt_article != article -%}
            <li class="grid__item">
              <a class="grid__link" href="{{ rt_article.url }}" title="{{ rt_article.title }}">
                <article>
                  <div class="grid__media">
                    {%- if rt_article.image != nil -%}
                      <img src="{{ rt_article.image | img_url: '592px' }}" class="lazyload" data-src="{{ rt_article.image | img_url: '592px' }}" />
                    {%- endif -%}
                  </div>
                  <div class="grid__copy">
                    <h3 class="h6">{{ rt_article.title }}</h3>
                    <p>
                      {% if article.excerpt.size > 0 %}
                        {{ article.excerpt }}
                      {% else %}
                        {{ article.content | strip_html | truncate: 150 }}
                      {% endif %}
                    </p>
                    <div class="button button--ghost button--invert"><span>Weiter lesen</span></div>
                  </div>
                </article>
              </a>
            </li>
            {%- assign rt_count = rt_count | plus: 1 -%}
          {%- endif -%}
          {%- if rt_count == 2 -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</article>

{%- style -%}

.article_video_advertisment  {
  margin: 50px 0 50px 0;
}
.advertisment.h3 {
  margin-bottom: 30px;
}
@media only screen and (max-width: 370px) {
  .toc__toggle {
    margin-top: 32px;
  }
  .header.header--invert.show-in {
    top: -100px !important;
  }
  .toc.is--sticky.toc--invert.adjust-margin .toc__toggle {
    margin-top: -65px;
  }
}

{%- endstyle -%}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ shop.url | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      {{ article | img_url: image_size | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    {% if page_image %}
      {% assign image_size = page_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": {{ page_image.height | json }},
        "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
        "width": {{ page_image.width | json }}
      },
    {% endif %}
    "name": {{ shop.name | json }}
  }
}
</script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": []
}
{% endschema %}
