{% assign left_image = section.settings.left_image %}
{% assign right_image = section.settings.right_image %}
<div class="section pd-simple-img">
    <div class="container">
        <div class="row product-row">
            <div class="col-md-7">
                <div class="simple-img size3">
                    {% if left_image != blank %}
                    <picture>
                        <source srcset="{{ left_image | img_url: 'master' }}" type="{{ left_image.format }}">
                        <img width="380" height="240" src="#" alt="" loading="lazy">
                    </picture>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5">
                <div class="simple-img size4">
                    {% if right_image != blank %}
                    <picture>
                        <source srcset="{{ left_image | img_url: 'master' }}" type="{{ right_image }}">
                        <img width="380" height="240" src="#" alt="" loading="lazy">
                    </picture>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="spacer-32"></div>
        <div class="row product-row">
            <div class="col-md-7">
                <div class="title-shortcode">
                    {% if section.settings.title != blank %}
                        <div class="h3 title font-1">{{ section.settings.title }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5">
                <div class="accordion type2" itemscope itemtype="https://schema.org/FAQPage">
                    {% for block in section.blocks %}
                      {%- assign question = block.settings.question  -%}
                      {%- assign answer = block.settings.answer -%}
                      {% if answer == blank and question == blank %} {% continue %} {% endif %}
                    <div class="accordion-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                        <div class="accordion-title" itemprop="name">
                            {{ question }}
                            <i></i>
                        </div>
                        <div class="accordion-inner" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                            <div class="text" itemprop="text">
                                {{ answer }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-lg"></div>
</div>


{% schema %}
{
  "name": "Product FAQ",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right image"
    },
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "Qustion / Answer",
      "settings": [
        {
            "type": "text",
            "id": "question",
            "label": "Question"
        },
        {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Product FAQ",
      "blocks": []
    }
  ]
}
{% endschema %}