<div class="section sec-padd padd-xl radial-decor">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <div class="title-shortcode text-center">
                    {% if section.settings.subtitle != blank %}
                    <div class="motto">{{ section.settings.subtitle }}</div>
                    {% endif %}
                    {% if section.settings.title != blank %}
                    <div class="h1 title">{{ section.settings.title }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if section.blocks != blank %}
    <div class="marquee type3">
        <div class="marquee-line" data-speed="0.03" data-direction="false">
            <div class="marquee-item">
                <div class="marquee-content marq-review-wrap">
                    {% for block in section.blocks %}
                        {%- assign image = block.settings.image -%}
                        {%- assign heading = block.settings.title -%}
                        {%- assign desc = block.settings.description -%}
                        <div class="marq-review">
                            <div class="marq-review-img">
                                {% if image != blank %}
                                    {% assign image_url = image | image_url  %}
                                    {% assign image_format = image.alt  %}
                                <picture>
                                    <source srcset="{{ image_url }}" type="{{ image_format }}">
                                    <img width="380" height="240" src="#" alt="" loading="lazy">
                                </picture>
                                {% endif %}
                            </div>
                            <div class="marq-review-content">
                                {% if heading != blank %}
                                <div class="text"><b>{{ heading }}</b></div>
                                {% endif %}
                                {% if desc != blank %}
                                <div class="text text-sm">{{ desc }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="spacer-lg"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7 col-sm-12">
                {% comment %} <?php include 'template-parts/_awards.php'; ?> {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Real sleep testimonial",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
        },
        {
        "type": "text",
        "id": "title",
        "label": "Title"
        },
    ],  
    "blocks": [
        {
            "type": "slide",
            "name": "Slides",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Name"
                },
                {
                    "type": "inline_richtext",
                    "id": "description",
                    "label": "Position"
                },
            ]
        },
        {
            "type": "image",
            "name": "Bottom",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "textarea",
                    "id": "caption",
                    "label": "Caption"
                },
                {
                    "type": "url",
                    "id": "year",
                    "label": "Year"
                }
            ]
        }
    ],
    "presets": [
        {
        "name": "Real sleep testimonial",
        "blocks": []
        }
    ]
}
{% endschema %}