<div class="section sec-padd padd-lg">
    <div class="container">
        <div class="title-shortcode row-align mob-left">
            <div class="left-part">
                {% if section.settings.subtitle != blank %}
                <div class="motto">{{ section.settings.subtitle }}</div>
                {% endif %}
                {% if section.settings.title != blank %}
                <div class="h2 title">{{ section.settings.title }}</div>
                {% endif %}
            </div>
            <div class="right-part">
                {% if section.settings.description != blank %}
                <div class="text">{{ section.settings.description }}</div>
                {% endif %}
            </div>
        </div>
        {% if section.blocks != blank %}
            <div class="row justify-content-center">
                <div class="col-10 col-sm-12">
                    <div class="swiper-entry advisor2-slider">
                        <div class="swiper-container" data-options='{ 
                            "slidesPerView": 1,
                            "spaceBetween": 16,
                            "breakpoints":{
                                "576":{"spaceBetween": 16, "slidesPerView": 1.8},
                                "992":{"spaceBetween": 24, "slidesPerView": 2.5},
                                "1200":{"spaceBetween": 24, "slidesPerView": 3}
                            }}'>
                            <div class="swiper-wrapper">
                                {% for block in section.blocks %}
                                {%- assign image = block.settings.image -%}
                                {%- assign heading = block.settings.title -%}
                                {%- assign desc = block.settings.description -%}
                                {%- assign add_description = block.settings.add_description -%}
                                <div class="swiper-slide">
                                    <div class="advisor-item type3">
                                        <div class="advisor-img">
                                            {% if image != blank %}
                                                {% assign image_url = image | image_url  %}
                                                {% assign image_format = image.alt  %}
                                                <picture>
                                                    <source srcset="{{ image_url }}" type="{{ image_format }}">
                                                    <img width="380" height="240" src="#" alt="" loading="lazy">
                                                </picture>
                                            {% endif %}
                                            {% if add_description != blank %}
                                                <div class="advisor-info">
                                                    <div class="text">{{ add_description }}</div>
                                                </div>
                                            <div class="more-info js-advisor-info"></div>
                                            {% endif %}
                                        </div>
                                        <div class="info-bottom">
                                            {% if heading != blank %}
                                            <div class="text"><b>{{ heading }}</b></div>
                                            {% endif %}
                                            {% if desc != blank %}
                                            <div class="text text-sm">{{ desc }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-controls-wrap text-center">
                            <div class="swiper-button-prev style5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M19 12L5 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 19L5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="swiper-button-next style5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-relative d-none"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
    {
    "name": "Recovery experts",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
        },
        {
        "type": "text",
        "id": "title",
        "label": "Title"
        },
        {
        "type": "inline_richtext",
        "id": "description",
        "label": "Description"
        }
    ],  
    "blocks": [
        {
            "type": "slide",
            "name": "Slides",
            "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Name"
            },
            {
                "type": "inline_richtext",
                "id": "description",
                "label": "Position"
            },
            {
                "type": "richtext",
                "id": "add_description",
                "label": "Additional description"
            },
            ]
        }
  ],
  "presets": [
    {
      "name": "Recovery experts",
      "blocks": []
    }
  ]
}
{% endschema %}