{{ 'swiper-style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'app-swiper.js' | asset_url }}" async></script>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" async></script>

<div class="section padd-lg gradient-1">
    <div class="container">
        <div class="title-shortcode row-align mob-left">
            <div class="left-part">
                {%- if section.settings.title != blank -%}
                <div class="h2 title">{{ section.settings.title }}</div>
                {%- endif -%}
                {%- if section.settings.description != blank -%}
                <div class="text text-md">{{ section.settings.description }}</div>
                {%- endif -%}
            </div>
            <div class="right-part swiper-arrow"></div>
        </div>
        {% if section.blocks != blank %}
        <div class="swiper-entry">
            <div class="swiper-container overflow-visible" data-options='{ 
                "slidesPerView": 1.07,
                "spaceBetween": 12,
                "breakpoints":{
                    "576":{"spaceBetween": 16, "slidesPerView": 1.6},
                    "992":{"spaceBetween": 16, "slidesPerView": 2.4},
                    "1200":{"spaceBetween": 16, "slidesPerView": 1.7}
                }}'>
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {%- assign image = block.settings.slide_image -%}
                        {%- assign heading = block.settings.slide_heading -%}
                        {%- assign desc = block.settings.slide_desc -%}
                        {%- assign tag = block.settings.slide_tag -%}
                        <div class="swiper-slide">
                            <div class="sleep-item">
                                <div class="tags">
                                    {% if heading != blank %}
                                    <span>{{ tag }}</span>
                                    {% endif %}
                                </div>
                                <div class="sleep-img">
                                    {% if image != blank %}
                                        {{ image 
                                            | image_url: width: image.width
                                            | image_tag: 
                                                width: image.width,
                                                height: 'auto',
                                                alt: image.alt,
                                                fetchpriority: 'auto',
                                                loading: 'lazy'
                                        }}
                                    {% endif %}
                                </div>
                                <div class="sleep-info">
                                    {% if heading != blank %}
                                    <div class="title h3">{{ heading }}</div>
                                    {% endif %}
                                    {% if desc != blank %}
                                    <div class="text">{{ desc }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-controls-wrap pos-1">
                <div class="swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M19 12L5 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 19L5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-relative hide-xl"></div>
        </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "Sleep system",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
        "type": "inline_richtext",
        "id": "description",
        "label": "Description"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "slide_heading",
          "label": "Title",
        },
        {
        "type": "inline_richtext",
        "id": "slide_desc",
        "label": "Description"
        },
        {
          "type": "text",
          "id": "slide_tag",
          "label": "Slide tag",
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Sleep system",
      "blocks": []
    }
  ]
}
{% endschema %}