<div class="section sec-padd padd-xl-lg gradient-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="title-shortcode text-center">
                    {% if section.settings.subtitle != blank %}
                    <div class="motto">{{ section.settings.subtitle }}</div>
                    {% endif %}
                    {% if section.settings.title != blank %}
                    <div class="h2 title no-balance">{{ section.settings.title }}</div>
                    {% endif %}
                    {% if section.settings.description != blank %}
                    <div class="text text-md">{{ section.settings.description }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="simple-img">
                    {%- assign image = section.settings.image -%}
                    {% assign image_url = image | image_url %}
                    {% assign image_format = image.format %}
                    {% if image_url != blank %}            
                    <picture>
                        <source srcset="{{ image_url }}" type="{{ image_format }}">
                        <img width="380" height="240" src="#" alt="" loading="lazy">
                    </picture>
                    {% endif %}

                    <div class="customer-review">
                        {% if section.settings.quote != blank %}                       
                        <div class="title h6">“{{ section.settings.quote }}”</div>
                        {% endif %}
                        <div class="customer-info">
                            {% if section.settings.name != blank %}
                            <div class="text"><b>{{ section.settings.name }}</b></div>
                            {% endif %}
                            {% if section.settings.position != blank %}
                            <div class="text text-sm">{{ section.settings.position }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Story section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name"
    },
    {
      "type": "text",
      "id": "position",
      "label": "Position"
    },
  ],
  "presets": [
        {
      "name": "Story section",
      "blocks": []
    }
  ]
}
{% endschema %}