<div class="section sec-black sec-padd-inline">
    <div class="banner">
        <div class="banner-media bottom-shadow shadow-4">
            {%- assign image = section.settings.banner_main_image -%}
            {% if image != blank %}
                {{ image 
                    | image_url: width: image.width
                    | image_tag: 
                        width: image.width,
                        height: 'auto',
                        alt: image.alt,
                        fetchpriority: 'auto',
                        loading: 'lazy'
                }}
            {% endif %}
        </div>
        <div class="banner-align align-bottom">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-7 col-xl-6">
                        <div class="banner-info">
                            {%- if section.settings.title != blank -%}
                            <div class="h2 title text-balance font-1">{{ section.settings.title }}</div>
                            {% endif %}
                            {%- if section.settings.description != blank -%}
                            <div class="text">{{ section.settings.description }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-5 align-self-end">
                        <div class="support-item">
                            <div class="support-img">
                                {%- assign image2 = section.settings.sup_logo -%}
                                {% if image2 != blank %}
                                    {{ image2 
                                        | image_url: width: image2.width
                                        | image_tag: 
                                            width: image2.width,
                                            height: 'auto',
                                            alt: image2.alt,
                                            fetchpriority: 'auto',
                                            loading: 'lazy'
                                    }}
                                {% endif %}
                            </div>
                            <div class="support-content">
                                {%- if section.settings.sup_title != blank -%}
                                <div class="text"><b>{{section.settings.sup_title }}</b></div>
                                {% endif %}
                                {%- if section.settings.sup_description != blank -%}
                                <div class="text text-sm">{{ section.settings.sup_description }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-md"></div>
    {%- if section.settings.gallery_title != blank -%}
    <div class="motto text-center">{{ section.settings.gallery_title }}</div>
    {% endif %}
    {% if section.blocks != blank %}
    <div class="marquee type-2">
        <div class="marquee-line" data-speed="0.03" data-direction="false">
            <div class="marquee-item">
                <div class="marquee-content">
                    {% for block in section.blocks %}
                        {%- assign image = block.settings.slide_image -%}
                        {% if image != blank %}
                            {{ image 
                                | image_url: width: image.width
                                | image_tag: 
                                    width: image.width,
                                    height: 'auto',
                                    alt: image.alt,
                                    fetchpriority: 'auto',
                                    loading: 'lazy'
                            }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="spacer-lg"></div>
</div>

{% schema %}
{
  "name": "Supplier",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_main_image",
      "label": "Banner main photo"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Supplier info"
    },
    {
      "type": "image_picker",
      "id": "sup_logo",
      "label": "Supplier logo"
    },
    {
      "type": "text",
      "id": "sup_title",
      "label": "Supplier title"
    },
    {
      "type": "text",
      "id": "sup_description",
      "label": "Supplier description"
    },
    {
      "type": "header",
      "content": "Title before bottom gallery"
    },
    {
      "type": "text",
      "id": "gallery_title",
      "label": "Text before gallery"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Supplier",
      "blocks": []
    }
  ]
}
{% endschema %}